[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
psycopg2 = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-praetorian = "*"
flask-lambda = "*"

[dev-packages]

[requires]
python_version = "3.8"
